<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main class="container">
    <% if (messages && messages.length > 0) { %>
    <div class="alert alert-danger mt-3">
      <%= messages %>
    </div>
    <% } %>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mt-5">Login</h2>
            <form action="/login" method="POST" autocomplete="off">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" 
                    class="form-control" 
                    id="username" 
                    name="username" 
                    placeholder="Enter your Username"
                    required autofocus>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" 
                    class="form-control" 
                    id="password" 
                    placeholder="Enter your Password"
                    name="password" 
                    required>
                </div>
                <div class="mb-3">
                    <p>Don't have an account? 
                    <a href="/register">Register Here</a>
                    </p>
                </div>
                <button type="submit" class="btn btn-success">Login</button>
                <a href="/" class="btn btn-warning">Cancel</a>
            </form>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>