    <!-- Main navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
      <div class="container">
        <a class="navbar-brand fw-bold" href="/">PetCare Journal</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mainNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <!-- These links will work once we build the entries pages -->
            <li class="nav-item">
              <a class="nav-link" href="/entries">Journal Entries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/entries/new">Add Entry</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>